Proyecto_MA/src/META-INF/wsdl/localhost_8080/Servicio_MA/Servicio.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="ListaActivosFuncionario" type="tns:ListaActivosFuncionario"/>

<xs:element name="ListaActivosFuncionarioResponse" type="tns:ListaActivosFuncionarioResponse"/>

<xs:element name="ListaValidaciones" type="tns:ListaValidaciones"/>

<xs:element name="ListaValidacionesResponse" type="tns:ListaValidacionesResponse"/>

<xs:element name="busquedaFuncionarios" type="tns:busquedaFuncionarios"/>

<xs:element name="busquedaFuncionariosResponse" type="tns:busquedaFuncionariosResponse"/>

<xs:element name="eliminarValidacion" type="tns:eliminarValidacion"/>

<xs:element name="eliminarValidacionResponse" type="tns:eliminarValidacionResponse"/>

<xs:element name="guardarValidacion" type="tns:guardarValidacion"/>

<xs:element name="guardarValidacionResponse" type="tns:guardarValidacionResponse"/>

<xs:element name="listaAdministradores" type="tns:listaAdministradores"/>

<xs:element name="listaAdministradoresResponse" type="tns:listaAdministradoresResponse"/>

<xs:element name="listaFuncionarios" type="tns:listaFuncionarios"/>

<xs:element name="listaFuncionariosResponse" type="tns:listaFuncionariosResponse"/>

<xs:element name="listaValFuncionario" type="tns:listaValFuncionario"/>

<xs:element name="listaValFuncionarioResponse" type="tns:listaValFuncionarioResponse"/>

<xs:element name="listaValidacion" type="tns:listaValidacion"/>

<xs:element name="listaValidacionResponse" type="tns:listaValidacionResponse"/>

<xs:element name="obtenerNumActivos" type="tns:obtenerNumActivos"/>

<xs:element name="obtenerNumActivosResponse" type="tns:obtenerNumActivosResponse"/>

<xs:complexType name="ListaValidaciones">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListaValidacionesResponse">
<xs:sequence>
<xs:element name="return" type="tns:validacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validacion">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="busquedaFuncionarios">
<xs:sequence>
<xs:element name="dato" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="busquedaFuncionariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:funcionario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="funcionario">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="ci" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarValidacion">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarValidacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaValFuncionario">
<xs:sequence>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaValFuncionarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:validacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaFuncionarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listaFuncionariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:funcionario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListaActivosFuncionario">
<xs:sequence>
<xs:element name="ci" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListaActivosFuncionarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:activos" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="activos">
<xs:sequence>
<xs:element name="idActivo" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarValidacion">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarValidacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaValidacion">
<xs:sequence>
<xs:element name="val" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaValidacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:funcionario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerNumActivos">
<xs:sequence>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerNumActivosResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaAdministradores">
<xs:sequence>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaAdministradoresResponse">
<xs:sequence>
<xs:element name="return" type="tns:administrador" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="administrador">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>