Proyecto_MA/xml-resources/web-service-references/Servicio/wsdl/localhost_8080/Servicio_MA/Servicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="Servicio">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:8080/Servicio_MA/Servicio?xsd=1"/>
</xsd:schema>
</types>
<message name="listaValidacion">
<part name="parameters" element="tns:listaValidacion"/>
</message>
<message name="listaValidacionResponse">
<part name="parameters" element="tns:listaValidacionResponse"/>
</message>
<message name="obtenerNumActivos">
<part name="parameters" element="tns:obtenerNumActivos"/>
</message>
<message name="obtenerNumActivosResponse">
<part name="parameters" element="tns:obtenerNumActivosResponse"/>
</message>
<message name="listaValFuncionario">
<part name="parameters" element="tns:listaValFuncionario"/>
</message>
<message name="listaValFuncionarioResponse">
<part name="parameters" element="tns:listaValFuncionarioResponse"/>
</message>
<message name="busquedaFuncionarios">
<part name="parameters" element="tns:busquedaFuncionarios"/>
</message>
<message name="busquedaFuncionariosResponse">
<part name="parameters" element="tns:busquedaFuncionariosResponse"/>
</message>
<message name="ListaValidaciones">
<part name="parameters" element="tns:ListaValidaciones"/>
</message>
<message name="ListaValidacionesResponse">
<part name="parameters" element="tns:ListaValidacionesResponse"/>
</message>
<message name="listaFuncionarios">
<part name="parameters" element="tns:listaFuncionarios"/>
</message>
<message name="listaFuncionariosResponse">
<part name="parameters" element="tns:listaFuncionariosResponse"/>
</message>
<message name="ListaActivosFuncionario">
<part name="parameters" element="tns:ListaActivosFuncionario"/>
</message>
<message name="ListaActivosFuncionarioResponse">
<part name="parameters" element="tns:ListaActivosFuncionarioResponse"/>
</message>
<message name="listaAdministradores">
<part name="parameters" element="tns:listaAdministradores"/>
</message>
<message name="listaAdministradoresResponse">
<part name="parameters" element="tns:listaAdministradoresResponse"/>
</message>
<message name="guardarValidacion">
<part name="parameters" element="tns:guardarValidacion"/>
</message>
<message name="guardarValidacionResponse">
<part name="parameters" element="tns:guardarValidacionResponse"/>
</message>
<message name="eliminarValidacion">
<part name="parameters" element="tns:eliminarValidacion"/>
</message>
<message name="eliminarValidacionResponse">
<part name="parameters" element="tns:eliminarValidacionResponse"/>
</message>
<portType name="Servicio">
<operation name="listaValidacion">
<input wsam:Action="http://Servicios/Servicio/listaValidacionRequest" message="tns:listaValidacion"/>
<output wsam:Action="http://Servicios/Servicio/listaValidacionResponse" message="tns:listaValidacionResponse"/>
</operation>
<operation name="obtenerNumActivos">
<input wsam:Action="http://Servicios/Servicio/obtenerNumActivosRequest" message="tns:obtenerNumActivos"/>
<output wsam:Action="http://Servicios/Servicio/obtenerNumActivosResponse" message="tns:obtenerNumActivosResponse"/>
</operation>
<operation name="listaValFuncionario">
<input wsam:Action="http://Servicios/Servicio/listaValFuncionarioRequest" message="tns:listaValFuncionario"/>
<output wsam:Action="http://Servicios/Servicio/listaValFuncionarioResponse" message="tns:listaValFuncionarioResponse"/>
</operation>
<operation name="busquedaFuncionarios">
<input wsam:Action="http://Servicios/Servicio/busquedaFuncionariosRequest" message="tns:busquedaFuncionarios"/>
<output wsam:Action="http://Servicios/Servicio/busquedaFuncionariosResponse" message="tns:busquedaFuncionariosResponse"/>
</operation>
<operation name="ListaValidaciones">
<input wsam:Action="http://Servicios/Servicio/ListaValidacionesRequest" message="tns:ListaValidaciones"/>
<output wsam:Action="http://Servicios/Servicio/ListaValidacionesResponse" message="tns:ListaValidacionesResponse"/>
</operation>
<operation name="listaFuncionarios">
<input wsam:Action="http://Servicios/Servicio/listaFuncionariosRequest" message="tns:listaFuncionarios"/>
<output wsam:Action="http://Servicios/Servicio/listaFuncionariosResponse" message="tns:listaFuncionariosResponse"/>
</operation>
<operation name="ListaActivosFuncionario">
<input wsam:Action="http://Servicios/Servicio/ListaActivosFuncionarioRequest" message="tns:ListaActivosFuncionario"/>
<output wsam:Action="http://Servicios/Servicio/ListaActivosFuncionarioResponse" message="tns:ListaActivosFuncionarioResponse"/>
</operation>
<operation name="listaAdministradores">
<input wsam:Action="http://Servicios/Servicio/listaAdministradoresRequest" message="tns:listaAdministradores"/>
<output wsam:Action="http://Servicios/Servicio/listaAdministradoresResponse" message="tns:listaAdministradoresResponse"/>
</operation>
<operation name="guardarValidacion">
<input wsam:Action="http://Servicios/Servicio/guardarValidacionRequest" message="tns:guardarValidacion"/>
<output wsam:Action="http://Servicios/Servicio/guardarValidacionResponse" message="tns:guardarValidacionResponse"/>
</operation>
<operation name="eliminarValidacion">
<input wsam:Action="http://Servicios/Servicio/eliminarValidacionRequest" message="tns:eliminarValidacion"/>
<output wsam:Action="http://Servicios/Servicio/eliminarValidacionResponse" message="tns:eliminarValidacionResponse"/>
</operation>
</portType>
<binding name="ServicioPortBinding" type="tns:Servicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listaValidacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerNumActivos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaValFuncionario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="busquedaFuncionarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListaValidaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaFuncionarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListaActivosFuncionario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaAdministradores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarValidacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarValidacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicio">
<port name="ServicioPort" binding="tns:ServicioPortBinding">
<soap:address location="http://localhost:8080/Servicio_MA/Servicio"/>
</port>
</service>
</definitions>